//variable
$font-style: 'NanumBarunGothic', 'SFProDisplayRegular', 'Noto Sans KR', 'Roboto', ' Malgun Gothic ', ' 맑은 고딕 ',
  Helvetica, sans-serif;
$font-sf-bold: 'SFProDisplayBold', 'Roboto', sans-serif;

//color
$color-primary: #a839ff !default;
$color-primary-violet: #d561ff !default;
$color-primary-pink: #ff99a1 !default;
$color-white: #fff;
$color-black: #000;
$color-lightgray: #fafafa;

//border-radius
$border-none: none;

//width
$max-width: 1120px;
$min-width: 960px;

//font-size
$title-text: 4.5rem;
$font-bold: bold;

//shadow
$card-shadow: 6px 6px 30px 0 rgba(0, 0, 0, 0.08);
